<ion-header>
  <ion-toolbar>
    <ion-title>Chapter Three</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="dark" size="small" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>

  <p>
    Aenean at gravida quam, non viverra lorem. Phasellus dignissim mi nec nibh euismod aliquet. Mauris molestie eget ante in facilisis. Mauris in lectus diam. Vivamus maximus tempor quam, ac cursus magna sodales sit amet. Proin venenatis lacinia leo, sed vestibulum lacus sodales ac. Maecenas ut metus nec erat lacinia pretium. Integer mollis nisl vel leo pharetra condimentum. Donec faucibus felis non nisl semper, sed varius magna varius. Sed sollicitudin interdum semper. Sed euismod felis augue, ac sollicitudin ipsum lobortis ac. Nulla a euismod turpis. Mauris euismod quis diam dapibus cursus. Curabitur id est laoreet, rutrum mi in, tempor felis.

    Curabitur non luctus est, at ultrices felis. Curabitur sit amet sapien semper, suscipit tortor eu, vehicula quam. Cras sollicitudin quam in molestie mattis. Quisque non sem sed tellus sagittis feugiat vel vel nisi. Maecenas aliquam dui quis feugiat laoreet. Morbi sagittis, erat quis congue sodales, sapien neque dapibus orci, non dapibus risus mauris quis est. Morbi dictum pharetra odio vel aliquam. Maecenas ultrices ipsum in nisi egestas, sit amet fermentum ligula elementum. Phasellus at molestie nisi, vitae interdum dolor. Praesent venenatis nulla suscipit pretium malesuada. Pellentesque accumsan pretium aliquam. Ut suscipit euismod tortor in suscipit. 
  </p>
    <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/home']">Take Me Home</ion-button>
</ion-content>
