<ion-header>
  <ion-toolbar>
    <ion-title>Chapter Two</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="dark" size="small" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>

  <p>
    Sed felis nisi, gravida id metus in, accumsan aliquet erat. Mauris sagittis mollis justo nec viverra. Sed aliquet tincidunt maximus. Aenean consectetur nunc ut accumsan lobortis. Donec consequat maximus neque quis accumsan. Mauris eu tortor sed eros consectetur ultrices sit amet nec eros. Nulla mollis libero eu quam rutrum sagittis. Cras ac lacus et augue posuere accumsan. Donec faucibus laoreet ex, vel tristique nulla sagittis in. Aliquam at arcu vitae justo molestie porta. Integer ornare diam quis ligula laoreet egestas. Mauris condimentum dui ut ipsum lacinia, vel hendrerit purus imperdiet. Phasellus pellentesque ac dui ultrices sollicitudin. Mauris dictum lectus vel nisi facilisis euismod. Nullam molestie euismod nunc.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a turpis vitae ligula mattis blandit eu sed dolor. Maecenas consectetur diam enim, sed mattis tellus ullamcorper consectetur. Proin est enim, vestibulum eu euismod at, fringilla vitae lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent fringilla hendrerit tincidunt. Sed non magna quam. Pellentesque viverra, est et sagittis aliquet, orci nulla euismod dolor, id dapibus erat nulla vitae tellus. Fusce maximus tortor vitae est sagittis commodo. In nec ante ligula. Donec id eros consequat, vulputate nulla ut, laoreet elit. Suspendisse at hendrerit nisl, et pretium leo. Fusce gravida dapibus augue, et tincidunt massa fringilla ac. Nullam id mattis quam. Donec nec magna neque. Praesent elementum neque sed massa vestibulum, ac volutpat erat accumsan. 
  </p>
    <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Chapter</ion-button>
    <ion-button color="danger" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Chapter</ion-button>
</ion-content>
