<ion-header>
  <ion-toolbar>
    <ion-title>Chapter One</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="dark" size="small" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>
  <img src="https://i.picsum.photos/id/1000/5626/3635.jpg?hmac=qWh065Fr_M8Oa3sNsdDL8ngWXv2Jb-EE49ZIn6c0P-g" alt="" />
  <h1>Chapter One</h1>
  <p>
    Praesent velit ipsum, fringilla non condimentum quis, dapibus vel odio. Suspendisse commodo metus at lacus mattis tristique. Nullam vitae risus non orci dignissim aliquet in eu metus. Mauris diam ante, tempus elementum molestie id, hendrerit quis massa. Vestibulum vehicula lectus eget volutpat blandit. Etiam sed porta nisi. Nunc lectus erat, tincidunt eu turpis quis, tincidunt pharetra felis.
    
    Pellentesque lobortis lacus a odio sodales interdum. Nunc ante felis, laoreet a efficitur a, volutpat eu mauris. Proin cursus suscipit ligula, eu lacinia ipsum mattis eu. Donec fringilla, enim a aliquam venenatis, leo ante pretium est, quis hendrerit tellus elit eget diam. Morbi sollicitudin velit sit amet dignissim tincidunt. Nullam faucibus erat vel placerat congue. Vivamus euismod aliquam urna, ac congue nisi blandit quis. Vivamus purus urna, faucibus non dui ut, accumsan lobortis nisl. Etiam quis venenatis eros.
    
    Vestibulum id quam quis odio rutrum maximus. Etiam felis est, pellentesque at turpis at, elementum faucibus eros. Donec iaculis velit mauris, non suscipit tortor pellentesque eget. In sodales posuere orci, vitae dictum augue sagittis sit amet. Sed feugiat nisl metus, sed consectetur dui tempus eu. Praesent mattis finibus elit at convallis. Aenean iaculis porttitor nibh, non sagittis velit elementum ac.
    
    Vestibulum ullamcorper tincidunt dui in euismod. Donec semper ultricies blandit. Ut et euismod dui. Quisque molestie vehicula hendrerit. Nulla feugiat ut ipsum ac semper. Fusce id porttitor libero, et condimentum elit. Fusce tincidunt ex at neque lobortis volutpat. Etiam at tortor sit amet eros mattis blandit. Nullam ornare quis enim vel commodo. Nam consequat sagittis luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    
    Sed ullamcorper dolor a turpis auctor, at bibendum nibh rutrum. Cras dolor risus, tempus vitae venenatis in, pharetra non nulla. Morbi sed lacus nec metus dapibus rhoncus. Nunc pretium, lectus malesuada ornare consequat, mauris quam viverra sapien, id ultrices quam lacus nec libero. Vivamus ligula lacus, accumsan in bibendum imperdiet, rhoncus eget dolor. Vivamus placerat sodales eros vitae mattis. Curabitur ut quam tincidunt, ultrices nunc nec, aliquet libero. Pellentesque ut elit dapibus, lacinia enim sed, tincidunt odio. Nulla facilisi. Donec pharetra, lectus quis auctor vestibulum, mi mauris bibendum eros, ut sodales quam arcu ut augue. Mauris dictum accumsan tortor sed maximus. Morbi laoreet nisi purus, in blandit odio consectetur id. Nulla eget venenatis quam. 
  
  </p>

    <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Chapter</ion-button>
</ion-content>
